@import '~vuetify/src/stylus/theme.styl'

@font-face
  font-family Circular
  font-style normal
  src url(/src/assets/css/font/circular/Circular-Medium.woff)

$body-font-family = Circular

body
  background url(/src/assets/bg.png) #000
  width 100%
  height 100%
  background-repeat no-repeat
  position absolute
  top 0
  left 0
  text-rendering optimizeLegibility

$material-dark.background = rgba(0, 0, 0, .2)

@import '~vuetify/src/stylus/main'
